.verde {
    color: #81BF54;
}

a:link { 
    text-decoration: none;
}

#name-nav {
    color: #395922;
    font-size: 2em;
}

#links {
    font-size: 1.2em;
    color: rgb(0 0 0 / 55%);
}

#links:hover {
    color: #395922;
}

.txt1 h2 {
    font-size: 3em;
}

.txt1 p {
    font-size: 1.2em;
}

.btn-default {
    background-color: #81BF54;
    color: white;
    border-color: #81BF54;
}

.btn-default:hover {
    background-color: #395922;   
    border-color: #395922; 
}

.active {
    color: #81BF54;
}

.imagens {
    object-fit: cover;
    width: auto; 
}

#img-nav {
    width: 38px;
    height: 38px;
}
