.reds-color {
    color: #F25252;
}

a:link { 
    text-decoration: none;
}

#name-nav {
    color: #F25252;
    font-size: 2em;
}

#links {
    font-size: 1.2em;
    color: rgb(0 0 0 / 55%);
}

#links:hover {
    color: #F25252;
}

.txt1 h2 {
    font-size: 3em;
}

.txt1 p {
    font-size: 1.2em;
}

.btn-default {
    background-color: #F25252;
    color: white;
    border-color: #F25252;
}

.btn-default:hover {
    background-color: #eb4646;    
}

.active {
    color: #F25252;
}

.imagens {
    object-fit: cover;
    width: auto; 
    height: 27em;
}